[Unit]
Description=Android builder service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill builder-%i
ExecStartPre=-/usr/bin/docker rm builder-%i
ExecStartPre=/usr/bin/docker pull lasr/buildworker
ExecStart=/usr/bin/docker run --name builder-%i lasr/buildworker
ExecStop=/usr/bin/docker stop builder-%i